 
 {% load static %}
 <!--technology-section-->
            <section class="ttm-row technology-section bg-img7 bg-layer z-index_1 clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-6 col-md-12 ml-auto">
                            <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-white spacing-7">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer m-0"></div>
                                <div class="layer-content">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <div class="title-header">
                                            <h5>FREQUENTLY ASKED QUESTIONS</h5>
                                            <h2 class="title">Find Out Answers About CellDus Pharma</h2>
                                        </div>
                                    </div><!-- section title end -->

                                    
                                    <div class="accordion clearfix">
                                        <!-- toggle -->
                                        <div
                                            class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                            <div class="toggle-title"><a href="#">What does CellDus Pharma do?</a></div>
                                            <div class="toggle-content">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="toggle-figure">
                                                        <img src="{% static 'images/blog/blog-three-100x95.jpg' %}"
                                                            alt="image">
                                                    </div>
                                                    <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">CellDus
                                                        Pharma is
                                                        a pharmaceutical marketing company that promotes and distributes
                                                        a wide
                                                        range of high-quality healthcare products through ethical
                                                        marketing
                                                        practices. We collaborate with reputed manufacturers to make
                                                        safe and
                                                        effective medicines available to doctors, hospitals, and
                                                        patients across
                                                        India.</div>
                                                </div>
                                            </div>
                                        </div><!-- toggle end -->
                                        <!-- toggle -->
                                        <div
                                            class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                            <div class="toggle-title"><a href="#">Which therapeutic segments does
                                                    CellDus Pharma
                                                    cover?</a></div>
                                            <div class="toggle-content">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="toggle-figure">
                                                        <img src="{% static 'images/blog/blog-three-100x95.jpg' %}"
                                                            alt="image">
                                                    </div>
                                                    <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">We offer a
                                                        broad
                                                        portfolio covering multiple therapeutic areas such as
                                                        Gynaecology,
                                                        Orthopaedics, Anti-Infectives, Pain Management, Nutritional
                                                        Supplements,
                                                        Orthopedics, and Pediatric, Dental  care. Our product range
                                                        continues
                                                        to expand to meet diverse healthcare needs.</div>
                                                </div>
                                            </div>
                                        </div><!-- toggle end -->
                                        <!-- toggle -->
                                        <div
                                            class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                            <div class="toggle-title"><a href="#">How can doctors or distributors
                                                    associate with
                                                    CellDus Pharma?</a></div>
                                            <div class="toggle-content">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="toggle-figure">
                                                        <img src="{% static 'images/blog/blog-three-100x95.jpg' %}"
                                                            alt="image">
                                                    </div>
                                                    <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">We welcome
                                                        associations with medical professionals, distributors, and
                                                        business
                                                        partners who share our commitment to quality and ethical growth.
                                                        Interested parties can contact us through the Contact Us section
                                                        of our
                                                        website or reach us directly via email or phone for
                                                        collaboration
                                                        opportunities.</div>
                                                </div>
                                            </div>
                                        </div><!-- toggle end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!--technology-section end-->